:root {
  /* Colores */
  --primary-color: #715cf8;
  --secondary-color: #ba6cd6;
  --navbar-color: #22752c;
  --navbar-color-secondary: #346651;

  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-danger: #dc3545;

  --background-color: #f2f2f2;
  --text-color: green;

  /* Tipografía */
  --font-family: Arial, sans-serif;
  --font-size-base: 18px;

  /* Otros Estilos */

  /* Bordes */
  --border-test: 3px solid black;
  --border-width: 1px;
  --border-radius: 4px;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

/* Navbar */

.navbar {
    background-color: var(--navbar-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    height: 60px; /* Altura fija para consistencia */
}

/* Menu toggle button */

.logo img {
    width: 100px;
    height: auto;
}

.navbar-header .menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: all 0.3s;
}

/* Ocultar menú para móvil por defecto */
.navbar-menu {
    display: none;
}

.navbar-menu ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    padding: 10px 20px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
}

/* Estilos para cuando el menú está abierto en móvil */
.navbar-menu.open {
    display: block;
    position: absolute;
    top: 60px; /* Debajo de la navbar */
    right: 0;
    width: 100%;
    background-color: var(--navbar-color-secondary);
    z-index: 2;
}

.navbar-menu.open.show {
    transform: translateX(0);
}

.main-open-menu {
    margin-top: 60px; /* Desplaza el contenido hacia abajo */
    transition: margin-top 0.3s ease-in-out; /* Aplica una transición suave */
}

.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/*------------------ Main Section--------------------------- */

main{
    margin: 0 auto;
    padding: 20px;
}

.hero{
    text-align: center;
    padding: 50px 0;
    /* background-color: ; Definir */
    margin-bottom: 20px;
}

.hero h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p{
    font-size: 1.2em;
    color: #555;
}

.content h2{
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content p{
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

/*------------------ Footer Section--------------------------- */

footer{
    background-color: var(--navbar-color-secondary);
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Estilos responsivos */

/* Dispositivos Moviles */
@media (max-width: 767px) {

}


/* Dispositivos Tablets */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Dispositivos laptop & pantallas medianas */
@media (min-width: 1025px) and (max-width: 1439px){
    .navbar-menu {
        display: block;
    }

    .navbar-menu ul {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        gap: 20px;
    }

    .navbar-menu li {
        padding: 0;
    }

    .navbar-header .menu-toggle {
        display: none;
    }
}

/* Dispositivos desktop & TV */
@media (min-width: 1440px){
    .navbar-menu {
        display: block;
    }

    .navbar-menu ul {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        gap: 20px;
    }

    .navbar-menu li {
        padding: 0;
    }

    .navbar-header .menu-toggle {
        display: none;
    }

}